<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center" id="heads1">404 NOT FOUND
      <span role="img" aria-label="Face with rolling eyes">🙄</span>

    </h1>
    <a href="/" class="homeLink">← BACK TO HOME</a>

    <br><br>
    <div class="container">
      <img alt="image" class="responsive" id="image" src="/styles/images/cat.jpg"></div>
  </div>
</div>


<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link rel="stylesheet" href="/styles/style.css">