.list-group-item {
  line-height: 2.5;
}

#heads {
  color: #cabb8a; 
  font-family: 'Poppins', sans-serif;
  font-weight: bold;


}

#heads1 {
  color: #cabb8a; 
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  letter-spacing: 2px;



}


#submit {
  color: #383838; 
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-color: #cabb8a;
  background-color: white;

}

.form-group {
  margin-bottom: 35px;
}

#titleTop {
  font-family: 'Poppins', sans-serif;
text-align: center;
padding: 20px;
font-size: 45pt;
margin-top: 27px;
font-weight: bold;
letter-spacing: 4.5px;
color: #cabb8a;
} 

#desc {
  font-family: 'Poppins', sans-serif;
text-align: center;
font-size: 15pt;
font-weight: bold;
letter-spacing: 4.5px;
color: #383838;
margin-bottom: 30px;
} 

.nav-link {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #dcd0c0;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}


.homeLink {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #383838;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
#footer {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #383838;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}


#namebar {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #dcd0c0;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#image {
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-bottom: 50px;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}





/* #titleTop1 {
    display: inline;
    position: relative;
    font: 200px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgba(0,0,255,0.5); 
  }
  
  #titleTop1:after {
    content: "MEMEARY";
    position: absolute; left: 10px; top: 5px;
    color: rgba(255,0,0,0.5);   
  } */



/*
 * Basic button style
 */
.btn {
  box-shadow: 1px 1px 0 rgba(255,255,255,0.5) inset;
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 0 8px;
  position: relative;

  font-size: 12px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
/*
 * Counter button style
 */
.btn-counter { margin-right: 39px; }
.btn-counter:after,
.btn-counter:hover:after { text-shadow: none; }
.btn-counter:after {
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  background-color: #eee;
  padding: 0 8px;
  color: #777;
  content: attr(data-count);
  left: 100%;
  margin-left: 8px;
  margin-right: -13px;
  position: absolute;
  top: -1px;
}
.btn-counter:before {
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');

  background-color: #eee;
  border: 1px solid #d3d3d3;
  border-right: 0;
  border-top: 0;
  content: '';
  position: absolute;
  right: -13px;
  top: 5px;
  height: 6px;
  width: 6px;
  z-index: 1;
  zoom: 1;
}
/*
 * Custom styles
 */
.btn {
  background-color: #dbdbdb;
  border-color: #bbb;
  color: #666;
}
.btn:hover,
.btn.active {
  text-shadow: 0 1px 0 #b12f27;
  background-color: #f64136;
  border-color: #b12f27;
}
.btn:active { box-shadow: 0 0 5px 3px rgba(0,0,0,0.2) inset; }
.btn span { color: #f64136; }
.btn:hover, .btn:hover span,
.btn.active, .btn.active span { color: #eeeeee; }
.btn:active span {
  color: #b12f27;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}